/* CSS Document */
@CHARSET "UTF-8";
html, body, .page { height: 100%; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: "Microsoft YaHei", Arial, Narrow, Helvetica, sans-serif; }
[class*=wap-icon-]:before { display: inline-block; font: normal normal normal 1.6rem/1 FontAwesome, sans-serif; font-size: inherit; 

text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
.wap-wrapper { position: absolute; top: 49px; bottom: 0; overflow: hidden; margin: 0; width: 100%; padding: 0 8px; background-color: #f8f8f8; }
.am-list { margin: 0; }
.am-list>li { background: none; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8); }
.pull-action { text-align: center; height: 45px; line-height: 45px; color: #999; }
.pull-action .am-icon-spin { display: none; }
.pull-action.loading .am-icon-spin { display: block; }
.pull-action.loading .pull-label { display: none; }
.wap-static-float-bottom { background-color: rgba(241, 241, 241, 0.94); }
.wap-btn-select { border-radius: 2px; }
.wap-icon-right { float: right; margin-right: 14px; }

.wap-float-icon{position: absolute; top: 20px; right: 15px; z-index: 666}
.wap-float-icon li{color: rgba(180, 180, 180, 0.8);}
.wap-float-icon li:FIRST-CHILD{ margin-right: 10px}

.wap-icon-start-0:before { content: "\f006\f006\f006\f006\f006"; color: rgb(247, 83, 60); }
.wap-icon-start-1:before { content: "\f123\f006\f006\f006\f006"; color: rgb(247, 83, 60); }
.wap-icon-start-2:before { content: "\f005\f006\f006\f006\f006"; color: rgb(247, 83, 60); }
.wap-icon-start-3:before { content: "\f005\f123\f006\f006\f006"; color: rgb(247, 83, 60); }
.wap-icon-start-4:before { content: "\f005\f005\f006\f006\f006"; color: rgb(247, 83, 60); }
.wap-icon-start-5:before { content: "\f005\f005\f123\f006\f006"; color: rgb(247, 83, 60); }
.wap-icon-start-6:before { content: "\f005\f005\f005\f006\f006"; color: rgb(247, 83, 60); }
.wap-icon-start-7:before { content: "\f005\f005\f005\f123\f006"; color: rgb(247, 83, 60); }
.wap-icon-start-8:before { content: "\f005\f005\f005\f005\f006"; color: rgb(247, 83, 60); }
.wap-icon-start-9:before { content: "\f005\f005\f005\f005\f123"; color: rgb(247, 83, 60); }
.wap-icon-start-10:before { content: "\f005\f005\f005\f005\f005"; color: rgb(247, 83, 60); }

.wap-text-block{display: block;background-color: rgb(218, 218, 218);border-radius: 2px;}

/*详情规格选中右下角勾*/
.p_vtag{border-radius:50%;background:#fff;width:8px;height:8px;position:absolute;bottom:0px;right:0px;}
.p_vtag::after,.p_vtag::before{position:absolute;top:1px;left:5px;content:'';width:1px;height:6px;background:#f00;-webkit-transform:rotate(45deg);}
.p_vtag::after{-webkit-transform:rotate(-45deg);width:1px;height:4px;top:3px;left:2px;}

.wap-noicon-tips{border-radius: 6px;background: #FDFDFD;color: #414141;border: 3px dashed #f00;}

